<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h4 class="text-center">{{insurance?.libelle | titlecase}}</h4>
      <app-loader *ngIf="enable"></app-loader>
      <div class="container" *ngIf="!enable">
        <!------------------- STEP 1  -------------------->
        <div class="grid" *ngIf="step1">
          <h5 class="text-center">1/4</h5>
          <div class="row">
            <div class="col-md-6">
              <label>Votre nom (*)</label>
              <input class="form-control" placeholder="renseigner votre nom" [(ngModel)]="userForm.firstname">
            </div>
            <div class="col-md-6">
              <label>Votre prenom (*)</label>
              <input class="form-control" placeholder="renseigner votre prenom" [(ngModel)]="userForm.lastname">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>email (*)</label>
              <input class="form-control" placeholder="renseigner votre email" type="email"
                [(ngModel)]="userForm.email">
            </div>
            <div class="col-md-6">
              <label>Téléphone (*)</label>
              <input class="form-control" placeholder="renseigner votre numero de téléphone (Ex : +2250000000000)"
                type="tel" [(ngModel)]="userForm.phone">
            </div>
          </div>

          <div class="row">
            <button class="btn btn-light  col-md-12" (click)="startFirstStep()"> suivant <i
                class="fa fa-arrow-right"></i></button>
          </div>
          <br>
          <br>
          <br>
          <br>
        </div>
        <!------------------- END STEP 1  -------------------->



        <!------------------- STEP 2  -------------------->
        <div class="grid">
          <h5 class="text-center">2/4</h5>
          <div class="row">
            <div class="col-md-6">
              <label>Date d'effet</label>
              <input type="date" class="form-control">
            </div>
            <div class="col-md-6">
              <label>Périodicité</label>
              <select  class="form-control">
                <option></option>
                <option *ngFor="let month of months" value="{{month+ 1}}">{{month+ 1}} mois</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Valeur a neuf</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-md-6">
              <label>Prix estimé a la vente</label>
              <input type="text" class="form-control">
            </div>
          </div>

          <div class="row">
            <button class="btn btn-light  col-md-12" (click)="startFirstStep()"> suivant <i
                class="fa fa-arrow-right"></i></button>
          </div>
          <br>
          <br>
          <br>
          <br>
        </div>

        <!------------------- END STEP 2  -------------------->


        <!------------------- STEP 3  -------------------->
        <br>
        <h5 class="text-center">3/4</h5>
        <app-type-tiers (userChoice)="getUserChoice($event)"></app-type-tiers>
        <!------------------- END STEP 3  -------------------->

        <!--<div class="grid">
          <h5 class="text-center">1/4</h5>
          <div class="row">

          </div>
          <div class="row">
            <div class="col-md-4">
              <label>Periodicité (*)</label>
              <input class="form-control" type="date">
            </div>
            <div class="col-md-4">
              <label>Valeur a neuf (*)</label>
              <input class="form-control" type="number">
            </div>
            <div class="col-md-4">
              <label>Prix estimé a la vente (*) </label>
              <input class="form-control" type="number">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label>Numero de téléphone  (*)</label>
              <input class="form-control">
            </div>
            <div class="col-md-4">
              <label>Email (*) </label>
              <input class="form-control" type="email">
            </div>
            <div class="col-md-4">
              <label>Formule d'assurance (*) </label>
              <input class="form-control">
            </div>
          </div>

          <div class="row">
            <button class="btn btn-success  col-md-12"> Souscrire</button>
          </div> !-->
      </div>

    </div>
  </div>

</div>
