<div class="container">
   <form class="form-group">
    <h3>Ajouter un utilisateur</h3>
    <div>
      <input class="form-control" type="text" placeholder="firstname" [(ngModel)]="user.firstname" [ngModelOptions]="{standalone: true}">
     </div>
     <div>
      <input class="form-control" type="text" placeholder="lastname"  [(ngModel)]="user.lastname"  [ngModelOptions]="{standalone: true}">
     </div>
     <div>
      <input class="form-control" type="email" placeholder="email"  [(ngModel)]="user.email"  [ngModelOptions]="{standalone: true}">
     </div>
     <div>
      <input class="form-control" type="phone" placeholder="phone"  [(ngModel)]="user.phone"  [ngModelOptions]="{standalone: true}">
     </div>
     <div>
      <input class="form-control" type="password" placeholder="password"  [(ngModel)]="user.password"  [ngModelOptions]="{standalone: true}">
     </div>
     <br>
     <button class="btn btn-success col-md-12" (click)="saveUser()"> Sauvegarder <span class="fa fa-check"></span></button>
   </form>
</div>
