
<div class="container">
  <h3>Liste des transactions <b class="badge badge-success">{{transactions.length}}</b></h3>
  <app-loader *ngIf="this.isLoaded"></app-loader>

  <div class="btn-group d-flex">
    <button class="btn btn-outline-success" ><i class="fa fa-file-csv"></i></button>
    <button class="btn btn-outline-primary"><i class="fa fa-file-pdf"></i></button>
  </div>
  <select class="form-control mt-3 col-md-4">
    <option></option>
    <option>Actif</option>
    <option>Pending</option>
  </select>
  <div class="table-responsive mt-5" *ngIf="!this.isLoaded">
    <table class="table table-bordered">
      <thead
        class="thead"
        style="
          background-color: white !important;
          color: forestgreen !important;
        "
      >
        <tr>
          <th scope="col">Identifiant</th>
          <th scope="col">Nom et Prénom</th>
          <th scope="col">Email</th>
          <th scope="col">Téléphone</th>
          <th scope="col">Montant</th>
          <th scope="col">Type</th>
          <th scope="col">Date de demande</th>
          <th scope="col">Paiement</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let transaction of transactions | paginate: { itemsPerPage: 2, currentPage: p }">
            <td>{{transaction?.id}}</td>
            <td>{{transaction?.user?.firstname}}  {{transaction?.user?.lastname}}</td>
            <td>{{transaction?.user?.email}}</td>
            <td>{{transaction?.user?.phone}}</td>
            <td>{{transaction?.amount | currency : 'XOF'}}</td>
            <td><b class="badge badge-success">{{transaction.type == 1 ? 'Retrait' : 'Depot'}}</b></td>
            <td>{{transaction?.createdAt | date}}</td>
            <td><b class="badge badge-{{transaction.isPayed ? 'success' : 'warning'}}">{{transaction.isPayed ? 'Payé' : "En attente de paiement"}}</b></td>
            <td><b class="badge badge-{{transaction.isConfirmed ? 'success' : 'warning'}}">{{transaction.isConfirmed ? 'processing' : "to be processed"}}</b></td>

            <td>
              <div class="btn-group">
                <a class="btn btn-outline-danger" >
                  <i class="fa fa-trash"></i>
                </a>
                <a class="btn btn-outline-success" (click)="confirmRequest(transaction?.id,transaction?.amount,transaction?.user?.id)" >
                  <i class="fa fa-check"></i>
                </a>
              </div>
            </td>
          </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
