.btn-outline-success {
  border-radius: 10px !important;
  background-color: forestgreen !important;
  color:white !important;
  margin-left: 3% !important;

}

.btn-outline-danger {
  border-radius: 10px !important;
  background-color: rgb(120, 17, 17) !important;
  border: none;
  color:white !important;
}

.btn-outline-primary {
  border-radius: 10px !important;
  background-color: rgb(8, 94, 116) !important;
  color:white !important;
  border : none;
  margin-left: 1% !important;

}
