<div class="container">
  <div class="grid">
    <div class="row">
      <div class="col-md-4">
       <div class="card">
        <div class="card-body text-center">
          <h1 class="_text">10</h1>
          <p>j</p>
        </div>
       </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body text-center">
            <h1 class="_text">10</h1>
            <p>j</p>
          </div>
         </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body text-center">
            <h1 class="_text">10</h1>
            <p>j</p>
          </div>
         </div>
      </div>
    </div>
  </div>

  <h5 class="mt-5">Activités recentes</h5>
  <table class="table">
    <thead class="thead" style="background-color: forestgreen !important;color :white !important">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>

</div>

