<div class="container">
  <div class="grid">
    <div class="row">
      <div class="col-md-4">
       <div class="card">
        <div class="card-body text-center">
          <h1 class="_text">{{stats?.activatedRequest}}</h1>
          <p>Demande souscriptions </p>
        </div>
       </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body text-center">
            <h1 class="_text">{{stats?.waitingPayment}}</h1>
            <p> Souscriptions en attente de paiement </p>
          </div>
         </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body text-center">
            <h1 class="_text">{{stats?.approvedPayment}}</h1>
            <p>Souscriptions validées</p>
          </div>
         </div>
      </div>
    </div>
  </div>

  <h5 class="mt-5">Activités récentes</h5>
  <div class="table-responsive">
    <table class="table">
      <thead class="thead" style="background-color: forestgreen !important;color :white !important">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Offre</th>
          <th scope="col">Nom et Prénom</th>
          <th scope="col">Email</th>
          <th scope="col">Téléphone</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let insurance of insuranceRequest">
          <th scope="row">{{insurance.id}}</th>
          <td>{{insurance.offer.libelle}}</td>
          <td>{{insurance.user.firstname}}  {{insurance.user.lastname}}</td>
          <td>{{insurance.user.email}}</td>
          <td>{{insurance.user.phone}}</td>
          <td>
            <div class="btn-group">
              <button class="btn btn-success" routerLink="/admin/detail/{{insurance.id}}">
                <span class="fa fa-eye"></span>
              </button>
              <button class="btn btn-danger">
                <span class="fa fa-trash"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <a routerLink="/admin/assurance/auto">Voir plus </a>

</div>

