<div class="container">
  <button class="btn btn-outline-success" (click)="isVisible = true" > Ajouter un offre</button>
  <div class="table-responsive mt-5">
    <table class="table">
      <thead class="thead" style="background-color: forestgreen !important;color :white !important">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Description</th>
          <th scope="col">Flag</th>
          <th scope="col">Libelle</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let offer of offers | paginate: { itemsPerPage: 5, currentPage: p }">
          <td >{{offer?.id}}</td>
          <td>{{offer?.description | titlecase}}</td>
          <td>
            <b>{{offer?.flag}}</b>
          </td>
          <td>{{offer?.libelle}}</td>
          <td>
            <div class="btn-group">
              <button class="btn btn-outline-danger" (click)="deleteOffer(offer.id)"><span class="fa fa-trash"></span></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>

<nz-modal [(nzVisible)]="isVisible" [nzFooter]="null" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <app-offer (offer)="addOffer($event)"></app-offer>
  </ng-container>
</nz-modal>
