<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h4 class="text-center">{{insurance?.libelle | titlecase}}</h4>
      <app-loader *ngIf="enable"></app-loader>
      <div class="container" *ngIf="!enable">
        <!------------------- STEP 1  -------------------->
        <div class="grid" *ngIf="step1">
          <h5 class="text-center">1/4</h5>
          <div class="row">
            <div class="col-md-6">
              <label>Votre nom (*)</label>
              <input class="form-control" placeholder="renseigner votre nom" [(ngModel)]="userForm.firstname">
            </div>
            <div class="col-md-6">
              <label>Votre prenom (*)</label>
              <input class="form-control" placeholder="renseigner votre prenom" [(ngModel)]="userForm.lastname">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>email (*)</label>
              <input class="form-control" placeholder="renseigner votre email" type="email"
                [(ngModel)]="userForm.email">
            </div>
            <div class="col-md-6">
              <label>Téléphone (*)</label>
              <input class="form-control" placeholder="renseigner votre numero de téléphone (Ex : +2250000000000)"
                type="tel" [(ngModel)]="userForm.phone">
            </div>
          </div>

          <div class="alert alert-info mt-4">
           <span class="fa fa-info"></span>
           Si vous utilisez whatsapp toute les notifications vous serons envoyé par ce canal
          </div>

          <div class="row">
            <label class="ml-3">Voulez vous utiliser whatsapp ?</label>
            <input type="checkbox" class="ml-3" [(ngModel)]="userForm.useWhatsapp">
          </div>

          <div class="row">
            <button class="btn btn-light  col-md-12" (click)="startFirstStep()"> Suivant <i
                class="fa fa-arrow-right"></i></button>
          </div>
          <br>
          <br>
          <br>
          <br>
        </div>
        <!------------------- END STEP 1  -------------------->



        <!------------------- STEP 2  -------------------->
        <div class="grid" *ngIf="step2">
          <h5 class="text-center">2/4</h5>
          <div class="row">
            <div class="col-md-6">
              <label>Date d'effet (*)</label>
              <input type="date" class="form-control" [(ngModel)]="autoInsurance.date_a_effet">
            </div>
            <div class="col-md-6">
              <label>Périodicité (*)</label>
              <select class="form-control" [(ngModel)]="autoInsurance.periodicity">
                <option></option>
                <option value="{{month}}" *ngFor="let month of months" value="{{month+ 1}}">{{month+ 1}} mois</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Valeur a neuf FCFA (*)</label>
              <input type="number" class="form-control" [(ngModel)]="autoInsurance.valeur_a_neuf">
            </div>
            <div class="col-md-6">
              <label>Prix estimé a la vente FCFA (*)</label>
              <input type="number" class="form-control" [(ngModel)]="autoInsurance.price">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label>Code de l'apporteur d'affaire</label>
              <input type="text" class="form-control" [(ngModel)]="parrainCode" placeholder="Code apporteur">
            </div>
          </div>
          <div class="row">
            <button class="btn btn-light  col-md-12" (click)="startSecondStep()"> suivant <i
                class="fa fa-arrow-right"></i></button>
          </div>
          <br>
          <br>
          <br>
          <br>
        </div>

        <!------------------- END STEP 2  -------------------->


        <!------------------- STEP 3  -------------------->
        <div class="container" *ngIf="step3">
          <br>
          <button class="btn btn-success" (click)="enableNewStep(2)">Retour</button>
          <h5 class="text-center">3/4</h5>
          <app-type-tiers (userChoice)="getUserChoice($event)"></app-type-tiers>
          <div class="row">
            <button class="btn btn-light  col-md-12" (click)="startThirdStep()"> suivant <i
                class="fa fa-arrow-right"></i></button>
          </div>
        </div>

        <div class="grid" *ngIf="step4">
          <h5 class="text-center">4/4</h5>
          <div class="file">
            <p>Veuillez téléverser votre carte grise</p>
            <input type="file" class="form-control" id="file" (change)="onFileSelected($event)">
          </div>
          <br>
          <br>
          <div class="col-md-12">
            <button class="btn btn-success col-md-12" (click)="startFinalStep()">Soumettre</button>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>
