<div>
  <h4 class="text-center">Type de tiers</h4>
  <div class="grid">
    <div class="row">
      <div class="card tiers col-md-4 text-center" *ngFor="let tier of tiers" (click)="filterTiers(tier?.index)" ngClass="{{tier.active ? 'active' : 'inactive'}}">
        <div class="card-body">
          <b> {{tier.name | titlecase}}</b>
        </div>
      </div>
    </div>
    <br>
    <button (click)="generateCheckBoxArray()" class="btn btn-success">Annuler</button>
    <br>
    <br>
    <div class="row">
      <div class="card col-md-12 ">
        <div class="card-body">
          <div class=" card-body guaranty-item" *ngFor="let guaranty of tiersFilter?.[0]?.guaranty as listGuaranty;let i = index">
            <div class="guaranty">
              <div class="info">
                <h5>{{guaranty.name}}</h5>
                <p>{{guaranty.description}}</p>
              </div>
              <div class="checkbox">
                <input type="checkbox" [(ngModel)]="checkbox[i].value" (change)="fieldsChange(checkbox[i].index,$event)" [disabled]="!checkbox[i].value && !checkbox[i].active  " >
              </div>
            </div>
            <hr *ngIf="i+1 != listGuaranty.length">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
