<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h4 class="text-center">Assurance Voyages</h4>
      <div class="container">
        <div class="grid" *ngIf="step1">
          <h5 class="text-center">1/2</h5>
          <div class="row">
            <div class="col-md-4">
              <label>Votre nom (*)</label>
              <input class="form-control" placeholder="noms">
            </div>
            <div class="col-md-4">
              <label>Votre prenom (*)</label>
              <input class="form-control" placeholder="prenoms">
            </div>
            <div class="col-md-4">
              <label>Date de naissance (*)</label>
              <input class="form-control" placeholder="date de name" type="date">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label>lieu de naissance (*)</label>
              <input class="form-control" placeholder="lieu">
            </div>
            <div class="col-md-4">
              <label>Addresse(*)</label>
              <input class="form-control" placeholder="Votre addresse">
            </div>
            <div class="col-md-4">
              <label>Contact (*)</label>
              <input class="form-control" placeholder="Ex : 2250165906010" >
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <label>Pays de residence</label>
              <select class="form-control"></select>
            </div>
            <div class="col-md-3">
              <label>Pays de destination</label>
              <select class="form-control"></select>
            </div>
            <div class="col-md-3">
              <label>Jours de depart</label>
              <input class="form-control" type="date">
            </div>
            <div class="col-md-3">
              <label> Jour de Retour inclus</label>
              <input class="form-control" type="date">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label> Numero de passeport</label>
              <input class="form-control">
            </div>
            <div class="col-md-4">
              <label> du</label>
              <input class="form-control">
            </div>
            <div class="col-md-4">
              <label>fin validité</label>
              <input class="form-control">
            </div>
          </div>

          <div class="row" >
            <button class="btn btn-light  col-md-12" (click)="changeStep()"> suivant</button>
          </div>
        </div>
        <div class="grid" *ngIf="step2">
          <h5 class="text-center">2/2</h5>
          <div class="row">
            <div class="col-md-6">
              <label>Votre nom (*)</label>
              <input class="form-control" placeholder="noms">
            </div>
            <div class="col-md-6">
              <label>Votre nom (*)</label>
              <input class="form-control" placeholder="noms">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6" >
             <button class="btn btn-light col-md-12" (click)="changeStep()">Retour</button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-success col-md-12">Suivant</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
