<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h4 class="text-center">{{insurance?.libelle | titlecase}}</h4>
      <app-loader *ngIf="enable"></app-loader>
      <div class="container" *ngIf="!enable">
        <!------------------- STEP 1  -------------------->
        <div class="grid" *ngIf="step1">
          <h5 class="text-center">1/4</h5>
          <div class="row">
            <div class="col-md-6">
              <label>Votre nom (*)</label>
              <input class="form-control" placeholder="renseigner votre nom" [(ngModel)]="userForm.firstname">
            </div>
            <div class="col-md-6">
              <label>Votre prenom (*)</label>
              <input class="form-control" placeholder="renseigner votre prenom" [(ngModel)]="userForm.lastname">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>email (*)</label>
              <input class="form-control" placeholder="renseigner votre email" type="email"
                [(ngModel)]="userForm.email">
            </div>
            <div class="col-md-6">
              <label>Téléphone (*)</label>
              <input class="form-control" placeholder="renseigner votre numero de téléphone (Ex : +2250000000000)"
                type="tel" [(ngModel)]="userForm.phone">
            </div>
          </div>

          <div class="alert alert-info mt-4">
            <span class="fa fa-info"></span>
            Si vous utilisez whatsapp toute les notificatios vous serons envoyé par ce canal
          </div>


          <div class="row">
            <label class="ml-3">Voulez vous utiliser whatsapp</label>
            <input type="checkbox" class="ml-3" [(ngModel)]="userForm.useWhatsapp">
          </div>

          <div class="row">
            <button class="btn btn-light  col-md-12" (click)="startFirstStep()"> suivant <i
                class="fa fa-arrow-right"></i></button>
          </div>
          <br>
          <br>
          <br>
          <br>
        </div>
        <!------------------- END STEP 1  -------------------->

        <!--------------------- STEP 2    --------------------->
        <div class="grid" *ngIf="step2">
          <h5 class="text-center">2/4</h5>
          <div class="row">
            <div class="col-md-6">
              <label>Pays de residence (*)</label>
              <app-countrypicker [(country)]="tripDto.country"></app-countrypicker>
            </div>
            <div class="col-md-6">
              <label>Pays de destination (*)</label>
              <app-countrypicker [(country)]="tripDto.destination"></app-countrypicker>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Jours de depart (*)</label>
              <input class="form-control" type="date" [(ngModel)]="tripDto.dateOfLeft">
            </div>
            <div class="col-md-6">
              <label> Jour de Retour inclus (*)</label>
              <input class="form-control" type="date" [(ngModel)]="tripDto.dateOfBack">
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <label>Motif de voyage(*)</label>
              <textarea class="form-control" type="date" [(ngModel)]="tripDto.tripMotif"></textarea>
            </div>
          </div>
          <!--<div class="row">
            <div class="col-md-4">
              <label> Numero de passeport (*)</label>
              <input class="form-control" type="text" [(ngModel)]="tripDto.passportNub">
            </div>
            <div class="col-md-4">
              <label> du (*)</label>
              <input class="form-control" type="date" [(ngModel)]="tripDto.passportDayOfCreation">
            </div>
            <div class="col-md-4">
              <label>fin validité (*)</label>
              <input class="form-control" type="date" [(ngModel)]="tripDto.passportValidity">
            </div>
          </div>!-->

          <div class="row">
            <button class="btn btn-light  col-md-12" (click)="startSecondStep()"> suivant</button>
          </div>
        </div>
        <!--------------------- END STEP 2 --------------------->

        <!--------------------- STEP 3    --------------------->
        <div *ngIf="step3">
          <h5 class="text-center">3/4</h5>
          <div class="info">
            <h6>Information du client</h6>
          </div>

          <h6>Information du client</h6>
          <p>
            Firstname : {{user.firstname}}
          </p>
          <p>
            Lastname : {{user.lastname}}
          </p>
          <p>
            Email : {{user.email}}
          </p>
          <p>
            Phone : {{user.phone}}
          </p>
          <div class="info">
            <h6>Information sur le service choisi</h6>
          </div>
          <p>
            Date de depart: {{tripDto.dateOfLeft}}
          </p>
          <p>
            Date de retour: {{tripDto.dateOfBack}}
          </p>

          <p>
            Pays d'origine: {{tripDto.country}}
          </p>

          <p>
            Pays de destination: {{tripDto.destination}}
          </p>

          <p>
            Motif de voyage : {{tripDto.tripMotif}}
          </p>

          <!--<p>
            Numero de passport: {{tripDto.passportNub}}
          </p>

          <p>
            Date de creation : {{tripDto.passportDayOfCreation}}
          </p>

          <p>
            Date de validité: {{tripDto.passportDayOfCreation}}
          </p>!-->

          <div class="col-md-12">
            <button class="btn btn-success col-md-12" (click)="enableNewStep(4)">Suivant</button>
          </div>
        </div>
        <!--------------------- END STEP 3 --------------------->

         <!--------------------- STEP 4   --------------------->
        <div class="grid" *ngIf="step4">
          <h5 class="text-center">4/4</h5>
          <div class="file">
            <p>Veuillez téléverser votre passeport</p>
            <input type="file" class="form-control" id="file" (change)="onFileSelected($event)">
          </div>
          <br>
          <br>
          <div class="col-md-12">
            <button class="btn btn-success col-md-12" (click)="startFinalStep()">Soumettre</button>
          </div>
        </div>
         <!--------------------- END STEP 4 --------------------->
      </div>
    </div>
  </div>

</div>
