.row {
  margin-top: 5%;
  button  {
    color : white;
    background-color: var(--button-color) !important;
  }
}

input {
  height: 6vh !important;
  border-radius: 12px;
  outline: none;
}

select {
  height: 6vh !important;
  border-radius: 12px;
  outline: none;
}

.card{
  box-shadow: 10px 5px 10px 5px rgba(0,0,0,0.2);
  border-radius: 20px !important;
}

button {
  height: 6vh !important;
  border-radius: 12px;
}

.info {
  height: 4vh;
  background-color: var(--button-color);
  line-height: 3vh;
  text-align: center;
  h6{
    color :white;
    font-size: 12px;
  }
}

.file {
  margin-left:20% !important;
}


@media(min-width : 0px ) and (max-width:900px) {
  .file {
    margin-left:5% !important;
    text-align: center;
  }
}
