

<div class="container-fluid">
  <app-loader *ngIf="enable"></app-loader>
  <div class="row justify-content-center" *ngIf="!enable">
    <div
      class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2"
    >
      <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
        <h2 id="heading">{{ insurance?.libelle | titlecase }}</h2>
        <p>Veuillez renseigner tous les champs requis.</p>

        <form id="msform">
          <!-- progressbar -->
          <ul id="progressbar">
            <li [ngClass]="{'active' : step1}" id="account"><strong>Mon Compte</strong></li>
            <li [ngClass]="{'active' : step2}" id="personal"><strong>Mon offre</strong></li>
            <li [ngClass]="{'active' : step3}" id="confirm"><strong>Detail</strong></li>
            <li [ngClass]="{'active' : step4}" id="payment"><strong>Passeport</strong></li>

          </ul>

          <br />
          <!-- fieldsets -->
          <fieldset *ngIf="step1">
            <div class="form-card" >
              <div class="row">
                <div class="col-7">
                  <h2 class="fs-title">Informations Personnelle:</h2>
                </div>
                <div class="col-5">
                  <h2 class="steps">Etape 1 - 4</h2>
                </div>
              </div>
              <!------------------- STEP 1  -------------------->
              <div class="grid" >
                <div class="row">
                  <div class="col-md-6">
                    <label>Votre nom (*)</label>
                    <input
                      class="form-control"
                      placeholder="renseigner votre nom"
                      [(ngModel)]="userForm.firstname"
                      [ngModelOptions]="{standalone: true}"
                    />
                  </div>
                  <div class="col-md-6">
                    <label>Votre prenom (*)</label>
                    <input
                      class="form-control"
                      placeholder="renseigner votre prenom"
                      [(ngModel)]="userForm.lastname"
                      [ngModelOptions]="{standalone: true}"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>email (*)</label>
                    <input
                      class="form-control"
                      placeholder="renseigner votre email"
                      type="email"
                      [(ngModel)]="userForm.email"
                      [ngModelOptions]="{standalone: true}"
                    />
                  </div>
                  <div class="col-md-6">
                    <label>Téléphone (*)</label>
                    <input
                      class="form-control"
                      placeholder="renseigner votre numero de téléphone (Ex : +2250000000000)"
                      type="tel"
                      [(ngModel)]="userForm.phone"
                      [ngModelOptions]="{standalone: true}"
                    />
                  </div>
                </div>

                <div class="alert alert-info mt-4">
                  <span class="fa fa-info"></span>
                  Si vous utilisez WhatsApp, toutes les notifications vous seront envoyées par ce canal.
                </div>

                <div class="row">
                  <label class="ml-3">Voulez vous utiliser whatsapp ?</label>
                  <input
                    type="checkbox"
                    class="ml-3"
                    [(ngModel)]="userForm.useWhatsapp"
                    [ngModelOptions]="{standalone: true}"
                  />
                </div>


              </div>
              <!------------------- END STEP 1  -------------------->
            </div>
            <input
              type="button"
              name="suivant"
              (click)="startFirstStep()"
              class="next action-button"
              value="suivant"
            />
          </fieldset>
          <fieldset *ngIf="step2">

              <div class="row">
                <div class="col-7">
                  <h2 class="fs-title">Assurance  Information:</h2>
                </div>
                <div class="col-5">
                  <h2 class="steps">Etape 2 - 4</h2>
                </div>
              </div>
              <div class="grid" >
                <h5 class="text-center">2/4</h5>
                <div class="row">
                  <div class="col-md-6">
                    <label>Pays de residence (*)</label>
                    <app-countrypicker
                      [(country)]="tripDto.country"
                    ></app-countrypicker>
                  </div>
                  <div class="col-md-6">
                    <label>Pays de destination (*)</label>
                    <app-countrypicker
                      [(country)]="tripDto.destination"
                    ></app-countrypicker>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Jours de depart (*)</label>
                    <input
                      class="form-control"
                      type="date"
                      [(ngModel)]="tripDto.dateOfLeft"
                      [ngModelOptions]="{standalone: true}"
                    />
                  </div>
                  <div class="col-md-6">
                    <label> Jour de Retour inclus (*)</label>
                    <input
                      class="form-control"
                      type="date"
                      [(ngModel)]="tripDto.dateOfBack"
                      [ngModelOptions]="{standalone: true}"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <label>Code de l'apporteur d'affaire</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="parrainCode"
                      placeholder="Code apporteur"
                      [ngModelOptions]="{standalone: true}"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label>Motif de voyage(*)</label>
                    <textarea
                      class="form-control"
                      type="date"
                      [(ngModel)]="tripDto.tripMotif"
                      [ngModelOptions]="{standalone: true}"
                    ></textarea>
                  </div>
                </div>
                <!--<div class="row">
                  <div class="col-md-4">
                    <label> Numero de passeport (*)</label>
                    <input class="form-control" type="text" [(ngModel)]="tripDto.passportNub">
                  </div>
                  <div class="col-md-4">
                    <label> du (*)</label>
                    <input class="form-control" type="date" [(ngModel)]="tripDto.passportDayOfCreation">
                  </div>
                  <div class="col-md-4">
                    <label>fin validité (*)</label>
                    <input class="form-control" type="date" [(ngModel)]="tripDto.passportValidity">
                  </div>
                </div>!-->


            </div>
            <input
              type="button"
              name="next"
              class="next action-button"
              value="suivant"
              (click)="startSecondStep()"
            />

          </fieldset>
          <fieldset *ngIf="step3">
            <div class="form-card">
              <div class="row">
                <div class="col-7">
                  <h2 class="fs-title">Detail:</h2>
                </div>
                <div class="col-5">
                  <h2 class="steps">Etape 3 - 4</h2>
                </div>
              </div>
              <br /><br />

              <div class="info">
                <h6>Information du client</h6>
              </div>

              <p>Firstname : {{ user.firstname }}</p>
              <p>Lastname : {{ user.lastname }}</p>
              <p>Email : {{ user.email }}</p>
              <p>Phone : {{ user.phone }}</p>
              <div class="info">
                <h6>Information sur le service choisi</h6>
              </div>
              <p>Date de depart: {{ tripDto.dateOfLeft }}</p>
              <p>Date de retour: {{ tripDto.dateOfBack }}</p>

              <p>Pays d'origine: {{ tripDto.country }}</p>

              <p>Pays de destination: {{ tripDto.destination }}</p>

              <p>Motif de voyage : {{ tripDto.tripMotif }}</p>
            </div>
            <input
            type="button"
            name="suivant"
            (click)="enableNewStep(4)"
            class="next action-button"
            value="suivant"
          />
          </fieldset>
          <fieldset>
            <div class="form-card" *ngIf="step4">
              <div class="row">
                <div class="col-7">
                  <h2 class="fs-title">Téléverser le passeport:</h2>
                </div>
                <div class="col-5">
                  <h2 class="steps">Etape 4 - 4</h2>
                </div>
              </div>


                <div class="file">

                  <input
                    type="file"
                    class="form-control"
                    id="file"
                    (change)="onFileSelected($event)"
                  />
                </div>
                <br />
                <br />

              </div>

            <input
              type="button"
              name="next"
              class="next action-button"
              value="Envoyer"
              (click)="startFinalStep()"
            />


          </fieldset>

        </form>
      </div>
    </div>
  </div>
</div>
