  <nz-layout class="app-layout" >
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null" nzTheme="dark">
      <div class="sidebar-logo">
        <a routerLink="/" >
          <img src="/assets/logo.svg" alt="logo">
          <h1>RASSUR WORLD</h1>
        </a>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">



        <ng-container >

          <div *ngIf="userRole?.libelle == 'admin'">
            <li nz-menu-item routerLink="/admin/index" routerLinkActive="active">
              <span nz-icon nzType="home" nzTheme="fill"></span>
              <span>Tableau de board</span>
            </li>
            <li nz-menu-item routerLink="/admin/assurance/unpaid" routerLinkActive="active" >
              <span nz-icon nzType="sliders" nzTheme="outline"></span>
              <span>Demandes d'assurance</span>
            </li>

            <li nz-menu-item routerLink="/admin/assurance/active" routerLinkActive="active">
              <span nz-icon nzType="sliders" nzTheme="outline"></span>
              <span>Assurances en cours </span>
            </li>

            <li nz-menu-item routerLink="/admin/assurance/payed" routerLinkActive="active">
              <span nz-icon nzType="sliders" nzTheme="outline"></span>
              <span>Assurances traitées</span>
            </li>

            <li nz-menu-item routerLink="/admin/assurance/acepted" routerLinkActive="active">
              <span nz-icon nzType="sliders" nzTheme="outline"></span>
              <span>Assurances Confirmées</span>
            </li>


            <li nz-menu-item routerLink="/admin/transaction" routerLinkActive="active">
              <span nz-icon nzType="pay-circle" nzTheme="outline"></span>
              <span>Transaction</span>
            </li>

            <li nz-menu-item routerLink="/admin/offre" routerLinkActive="active">
              <span nz-icon nzType="pie-chart" nzTheme="fill"></span>
              <span>Offres</span>
            </li>

            <li nz-menu-item routerLink="/admin/apporteur" routerLinkActive="active">
              <span nz-icon nzType="user" nzTheme="outline"></span>
              <span>Apporteurs</span>
            </li>

            <li nz-menu-item routerLink="/admin/utilisateur" routerLinkActive="active">
              <span nz-icon nzType="user" nzTheme="outline"></span>
              <span>Equipe</span>
            </li>

            <li nz-menu-item routerLink="/admin/transfer" routerLinkActive="active">
              <span nz-icon nzType="swap" nzTheme="outline"></span>
              <span>Transfer</span>
            </li>

            <li nz-menu-item routerLink="/admin/role" routerLinkActive="active">
              <span nz-icon nzType="user" nzTheme="outline"></span>
              <span>Roles</span>
            </li>
          </div>
        </ng-container >
        <ng-container *ngIf="userRole?.libelle == 'apporteur'">
          <li nz-menu-item routerLink="/admin/sponsorship" routerLinkActive="active">
            <span nz-icon nzType="link" nzTheme="outline"></span>
            <span>Lien de parrainages</span>
          </li>

          <li nz-menu-item routerLink="/admin/commission" routerLinkActive="active">
            <span nz-icon nzType="wallet" nzTheme="outline"></span>
            <span>Commission</span>
          </li>
        </ng-container>


        <!--<li nz-menu-item routerLink="/admin/assurance/voyage" routerLinkActive="active">
          <span nz-icon nzType="schedule" nzTheme="outline"></span>
          <span>Assurance Voyage</span>
        </li>

        <li nz-menu-item routerLink="/admin/assurance/divers" routerLinkActive="active">
          <span nz-icon nzType="schedule" nzTheme="outline"></span>
          <span>Assurance Divers</span>
        </li>!-->




        <li nz-menu-item (click)="logout()">
          <span nz-icon nzType="logout" nzTheme="outline"></span>
          <span>Deconnexion</span>
        </li>


      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <span class="trigger"
                nz-icon
                [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></span>
          </span>
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
