<div class="container">
  <button class="btn btn-outline-success" (click)="goBack()">
    <span class="fa fa-arrow-left"></span> Retour
  </button>

  <div class="alert alert-info mt-2">
    Toutes actions ménees dans cette partie sont irreversibles
  </div>

  <div class="grid text-center">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h6>Information client</h6>
          </div>
          <div class="card-body">
            <p>Nom  : {{insuranceDto?.user?.firstname}}</p>
            <p>Prenoms  : {{insuranceDto?.user?.lastname}}</p>
            <p>Email  : {{insuranceDto?.user?.email}}</p>
            <p>Téléphone  : {{insuranceDto?.user?.phone}}</p>
            <p>Moyen de reception de mail   : <b class="badge badge-info">{{insuranceDto?.user?.useWhatsapp ? 'whatsapp'  : 'email' }}</b></p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
         <div class="card">
          <div class="card-header">
            <h6>Information sur l'offre</h6>
          </div>
          <div class="card-body">
            <p *ngIf="!!insuranceDto?.createdAt">Date de demande : {{insuranceDto?.createdAt | date}}</p>
            <p *ngIf="!!insuranceDto?.isPayed">Status : <span *ngIf="insuranceDto?.isPayed" style="color: green;">Payé</span>
              <span *ngIf="!insuranceDto?.isPayed" style="color:red">en attente de paiement</span>
            </p>
            <p *ngIf="!!insuranceDto?.offer?.libelle">Type d'assurance : <b class="badge badge-success">{{insuranceDto?.offer?.libelle | titlecase}}</b></p>
            <p *ngIf="!!insuranceDto?.detail?.country">Pays : {{insuranceDto?.detail?.country}}</p>
            <p *ngIf="!!insuranceDto?.detail?.destination">Destination : {{insuranceDto?.detail?.country}} </p>
            <p *ngIf="!!insuranceDto?.detail?.dateOfLeft">Date de depart : {{insuranceDto?.detail?.dateOfLeft | date}}</p>
            <p *ngIf="!!insuranceDto?.detail?.dateOfBack">Date de retour : {{insuranceDto?.detail?.dateOfBack | date}}</p>
            <p *ngIf="!!insuranceDto?.detail?.passportDayOfCreation">Date d'optention de passeport : {{insuranceDto?.detail?.passportDayOfCreation | date}} </p>
            <p *ngIf="!!insuranceDto?.detail?.passportNub">Numero du passport : {{insuranceDto?.detail?.passportNub}} </p>
            <p *ngIf="!!insuranceDto?.detail?.passportValidity">Periode de validité : {{insuranceDto?.detail?.passportValidity}} </p>
            <p *ngIf="!!insuranceDto?.detail?.periodicity">Péridiocité : {{insuranceDto?.detail?.periodicity}}  mois</p>
            <p *ngIf="!!insuranceDto?.detail?.price">Prix du bien : {{insuranceDto?.detail?.price | currency : 'FCFA'}} </p>
            <p *ngIf="!!insuranceDto?.detail?.typeTiers">Type tiers : {{insuranceDto?.detail?.typeTiers}} </p>
            <p *ngIf="!!insuranceDto?.detail?.valeur_a_neuf">Valeur a neuf : {{insuranceDto?.detail?.valeur_a_neuf | currency : 'FCFA' }} </p>
            <p *ngIf="!!insuranceDto?.detail?.date_a_effet">Date a effet : {{insuranceDto?.detail?.date_a_effet | date}} </p>

            <p *ngIf="!!insuranceDto?.transaction?.total">Total a payer :  {{insuranceDto?.transaction?.total | currency : 'FCFA'}}</p>
            <p *ngIf="!!insuranceDto?.transaction?.transactionNumb">Numero de transaction : {{insuranceDto?.transaction?.transactionNumb}} </p>
            <p *ngIf="!!insuranceDto?.transaction?.meanOfPayment">Moyen de paiement : {{insuranceDto?.transaction?.meanOfPayment}} </p>
            <p *ngIf="!!insuranceDto?.isActive ">Status  : <b class="badge badge-{{!!insuranceDto?.isActive ? 'success' : 'danger'}}">
              {{!!insuranceDto?.isActive ? 'actif' : 'inactif' | titlecase}}
            </b></p>
            <p >Souscription  : <b class="badge badge-{{insuranceDto?.isPayed == true ? 'success' : 'danger'}}">
              {{insuranceDto?.isPayed == true ? 'Payé' : 'Impayé'}}
            </b></p>
            <p >Cotation  : <b class="badge badge-{{insuranceDto?.isAcepted== true ? 'success' : 'danger'}}">
              {{insuranceDto?.isAcepted == true ? 'Accepté' : 'En attente ...'}}
            </b></p>
            <hr>
            <a *ngIf="!!insuranceDto" class="btn btn-outline-success" target="_blank" href="https://api.myrassurance.com/public/uploads/{{!!insuranceDto?.detail?.passportPhoto ?insuranceDto?.detail?.passportPhoto : insuranceDto?.detail?.cartePhoto}}">
             Voir le fichier <span class="fa fa-file"> </span>
            </a>
          </div>
        </div>

      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-body">

            <button class="col-md-12 btn btn-dark" (click)="isVisible = true" *ngIf="!insuranceDto?.transaction?.total">
              <span class="fa fa-wallet"></span>
            </button>
            <button class="col-md-12 btn btn-primary mt-2" (click)="isMailVisible = true" >
              <span class="fa fa-envelope"></span>
            </button>
            <button class="col-md-12 btn btn-success mt-2" (click)="confirmInsurance()">
              <span class="fa fa-check"></span>
            </button>
            <button class="col-md-12 btn btn-dark mt-2" (click)="isUploadVisible = true">
              <span class="fa fa-upload"></span>
            </button>
            <button class="col-md-12 btn btn-danger mt-2">
              <span class="fa fa-trash"></span>
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<nz-modal [(nzVisible)]="isVisible" [nzFooter]="null" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <app-cotation (cotation)="addCotation($event)"></app-cotation>
  </ng-container>
</nz-modal>


<nz-modal [(nzVisible)]="isUploadVisible" [nzFooter]="null" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <app-upload (fileSelected)="sendFile($event)"></app-upload>
  </ng-container>
</nz-modal>


<nz-modal [(nzVisible)]="isMailVisible" [nzFooter]="null" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <div class="container">
        <h4 class="text-center">Envoyer un mail</h4>
        <hr>
        <button class="col-md-12 btn btn-success" (click)="sendPayment()">Lien de paiement <span class="fa fa-envelope"></span></button>
        <button class="col-md-12 btn btn-warning mt-2" (click)="sendRelance()">Relance <span class="fa fa-envelope"></span></button>
        <button class="col-md-12 btn btn-info mt-2" (click)="sendWelcome()">Bienvenue <span class="fa fa-envelope"></span></button>

    </div>
  </ng-container>
</nz-modal>


