.detail{
  height: 550px !important;
  overflow: scroll;
}


.btn-success {
  border-radius: 10px !important;
  background-color: forestgreen !important;
  color:white !important;

}
.icon{
  width: 50px !important;
  height: 50px !important;
  background-color: forestgreen !important;
  border-radius: 30px !important;
  h1{
    position: absolute !important;
    margin-left: 4% !important;
    font-size: 30px !important;
    margin-top: 2% !important;
  }
  .fa {
    color: white ;
  }
}

.btn-danger {
  border-radius: 10px !important;
  background-color: rgb(120, 17, 17) !important;
  border: none;
  color:white !important;
}

.btn-warning {
  border-radius: 10px !important;
  background-color: #ab9c11  !important;
  border: none;
  color:white !important;
}

.btn-info {
  border-radius: 10px !important;
  background-color: rgb(5, 72, 140)  !important;
  border: none;
  color:white !important;
}


.btn-primary {
  border-radius: 10px !important;
  background-color: rgb(34, 129, 224)  !important;
  border: none;
  color:white !important;
}

.btn-dark {
  border-radius: 10px !important;
  //background-color: rgb(34, 129, 224)  !important;
  border: none;
  color:white !important;
}

.btn-outline-success {
  border-radius: 10px !important;
  background-color: forestgreen !important;
  color:white !important;

}
