.detail{
  height: 450px !important;
  overflow: scroll;
}


.btn-success {
  border-radius: 10px !important;
  background-color: forestgreen !important;
  color:white !important;

}

.btn-danger {
  border-radius: 10px !important;
  background-color: rgb(120, 17, 17) !important;
  border: none;
  color:white !important;
}

.btn-warning {
  border-radius: 10px !important;
  background-color: #ab9c11  !important;
  border: none;
  color:white !important;
}

.btn-info {
  border-radius: 10px !important;
  background-color: rgb(5, 72, 140)  !important;
  border: none;
  color:white !important;
}


.btn-primary {
  border-radius: 10px !important;
  background-color: rgb(34, 129, 224)  !important;
  border: none;
  color:white !important;
}

.btn-dark {
  border-radius: 10px !important;
  //background-color: rgb(34, 129, 224)  !important;
  border: none;
  color:white !important;
}

.btn-outline-success {
  border-radius: 10px !important;
  background-color: forestgreen !important;
  color:white !important;

}
