<div class="container">
  <button class="btn btn-outline-success"  > Ajouter un utilisateur
    <span class="fa fa-user"></span>
  </button>
  <div class="table-responsive mt-5">
    <table class="table">
      <thead class="thead" style="background-color: forestgreen !important;color :white !important">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nom</th>
          <th scope="col">Prenom</th>
          <th scope="col">Email</th>
          <th scope="col">Telephone</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <!--<tr *ngFor="let offer of offers | paginate: { itemsPerPage: 5, currentPage: p }">
          <td >{{offer?.id}}</td>
          <td>{{offer?.description | titlecase}}</td>
          <td>
            <b>{{offer?.flag}}</b>
          </td>
          <td>{{offer?.libelle}}</td>
          <td>
            <div class="btn-group">
              <button class="btn btn-danger" (click)="deleteOffer(offer.id)"><span class="fa fa-trash"></span></button>
            </div>
          </td>
        </tr>!-->
      </tbody>
    </table>
    <!--<pagination-controls (pageChange)="p = $event"></pagination-controls>!-->
  </div>
</div>
