.btn-outline-success {
  border-radius: 10px !important;
  background-color: forestgreen !important;
  color:white !important;

}

.btn-outline-danger {
  border-radius: 10px !important;
  border: none;
  background-color: rgb(120, 17, 17) !important;
  color:white !important;
  margin-left: 5% !important;
}
