<div class="container">
  <button class="btn btn-outline-success"  (click)="isVisible = true"> Ajouter un utilisateur
    <span class="fa fa-user"></span>
  </button>
  <div class="table-responsive mt-5">
    <table class="table">
      <thead class="thead" style="background-color: forestgreen !important;color :white !important">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nom</th>
          <th scope="col">Prenom</th>
          <th scope="col">Email</th>
          <th scope="col">Telephone</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of teams | paginate: { itemsPerPage: 4, currentPage: p }">
          <td >{{user?.id}}</td>
          <td>{{user?.firstname | titlecase}}</td>
          <td>
            <b>{{user?.lastname}}</b>
          </td>
          <td>{{user?.email}}</td>
          <td>{{user?.phone}}</td>
          <td>
            <div class="btn-group">
              <button class="btn btn-outline-danger" (click)="deleteMember(user.id)"><span class="fa fa-trash"></span></button>
              <button class="btn btn-outline-success" ><span class="fa fa-check"></span></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <nz-modal [(nzVisible)]="isVisible" [nzFooter]="null" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
      <ng-container *nzModalContent>
        <app-user (userToCreate)="onBoardUser($event)"></app-user>
      </ng-container>
    </nz-modal>

    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
