<div class="container-fluid">
  <h3>Liste des roles <b class="badge badge-success">{{roles.length}}</b></h3>
  <!--<button class="btn btn-outline-success"> Ajouter un role</button>!-->
  <app-loader *ngIf="isSpinning"></app-loader>
  <div class="table-responsive mt-5" *ngIf="!isSpinning">
    <table class="table table-bordered">
      <thead class="thead" style="background-color: white !important;color :forestgreen !important">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Flag</th>
          <th scope="col">Libelle</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roles | paginate: { itemsPerPage: 5, currentPage: p }">
          <td>{{role?.id}}</td>
          <td>
            <b>{{role?.flag}}</b>
          </td>
          <td><b class="badge badge-success">{{role?.libelle | titlecase}}</b></td>
          <td>
            <div class="btn-group">
              <button class="btn btn-outline-danger" disabled><span class="fa fa-trash"></span></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
