<app-loader *ngIf="loaded"></app-loader>
<div class="wrapper" *ngIf="!loaded">
  <div class="container">
    <div class="card mt-5" >
      <div class="card-body">
        <a href="/">
          <img src="/assets/logo.svg" class="img-fluid" width="200" height="200">
        </a>
        <br>
        <br>
        <h4 class="text-center">Se connecter</h4>
        <br>
        <br>

        <div>
          <label>email (*)</label>
          <input class="form-control" type="email" [(ngModel)]="login.email">
        </div>
        <div>
          <label>Password (*)</label>
          <input class="form-control" type="password" [(ngModel)]="login.password">
        </div>
        <br>
        <br>
        <button type="button" class="btn btn-success col-md-12" (click)="SignIn()"> Se connecter</button>

      </div>
    </div>
  </div>
</div>
