<div class="container">

  <h3>Liste des demandes d'assurance <b class="badge badge-success">{{insuranceRequest.length}}</b></h3>
  <div class="btn-group d-flex">
    <button class="btn btn-outline-success"><i class="fa fa-file-csv"></i></button>
    <button class="btn btn-outline-primary"><i class="fa fa-file-pdf"></i></button>
  </div>
  <app-loader *ngIf="isSpinning"></app-loader>
  <div class="table-responsive mt-5" *ngIf="!isSpinning">
    <table class="table table-bordered">
      <thead class="thead" style="background-color: white !important;color :forestgreen !important">
        <tr>
          <th scope="col">Numero de demande</th>
          <th scope="col">Offre</th>
          <th scope="col">Nom et Prénom</th>
          <th scope="col">Email</th>
          <th scope="col">Téléphone</th>
          <th scope="col">Date </th>
          <th scope="col">Preuve</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let insurance of insuranceRequest | paginate: { itemsPerPage: 4, currentPage: p }">
          <th scope="row">{{insurance.id}}</th>
          <td><b class="badge badge-success">{{insurance.offer.libelle}}</b></td>
          <td>{{insurance.user.firstname}}  {{insurance.user.lastname}}</td>
          <td>{{insurance.user.email}}</td>
          <td>{{insurance.user.phone}}</td>
          <td>{{insurance.detail.createdAt | date}}</td>
          <td> <b
            class="badge badge-success"
              >{{
                appFacades.getFileExtension(
                  insurance?.detail?.passportPhoto
                    ? insurance?.detail?.passportPhoto
                    : insurance?.detail?.cartePhoto
                )
              }}
            </b></td>
          <td>
            <div class="btn-group">
              <button class="btn btn-outline-success" routerLink="/admin/detail/{{insurance.id}}">
                <span class="fa fa-eye"></span>
              </button>
              <!--<button class="btn btn-outline-danger">
                <span class="fa fa-trash"></span>
              </button>!-->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>

</div>
