<div class="container">
  <div class="text-center">
    <h1>Nos offres d'assurances</h1>

    <div class="container">
      <div class="wrapper mt-5">
        <div class="card ">
          <div class="card-body">
            <h1><span class="fa fa-plane"></span></h1>
            <h4>Assurance Voyage</h4>

            <a class="btn btn-success edit" routerLink="/assurance/voyage">
              Souscrire à l'offre <span class="fa fa-arrow-right"></span>
            </a>
          </div>
        </div>

        <div class="card ">
          <div class="card-body">
            <h1><span class="fa fa-car"></span></h1>
            <h4>Assurance Auto</h4>

            <a class="btn btn-success edit" routerLink="/assurance/auto">
              Souscrire à l'offre <span class="fa fa-arrow-right"></span>
            </a>
          </div>
        </div>

        <div class="card ">
          <div class="card-body">
            <h1><span class="fa fa-heartbeat"></span></h1>
            <h4>Assurance Individuel Accident</h4>

            <a class="btn btn-success" routerLink="/assurance/individuel">
              Souscrire à l'offre <span class="fa fa-arrow-right"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
