
<div class="container">

  <div class="btn-group">
    <button class="btn btn-success" (click)="isVisible = true">Rétrait <i class="fa fa-wallet"></i></button>
  </div>


  <br>
  <br>

  <div class="row" >
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h1 class="_text">{{user?.wallet?.balance | currency : 'XOF' }} </h1>
          <span>Balance</span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h1 class="_text">{{statistiq.pending }} </h1>
          <span>Transaction en cours</span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h1 class="_text">{{statistiq.total }} XOF</h1>
          <span>Total des rétraits</span>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loader *ngIf="isLoaded"></app-loader>
<div class="container mt-5" *ngIf="!isLoaded">
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="thead" style="background-color: white !important;color :forestgreen !important">
        <tr >
          <th scope="col">Identifiant</th>
          <th scope="col">Montant</th>
          <th scope="col">Frais</th>
          <th scope="col">Type de transaction</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of requests">
          <td>{{request.id}}</td>
          <td>{{request.amount | currency : 'XOF'}}</td>
          <td>{{(!!request.fees ? request.fees  : 0 ) | currency : 'XOF' }}</td>
          <td><b class="badge badge-success">{{request.type == 1 ? 'Retrait' : 'Depot'}}</b></td>
          <td><b class="badge badge-{{request.isPayed ? 'success' : 'danger'}}">{{request.isPayed ? 'Payé' : "En attente de paiement"}}</b></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<nz-modal [(nzVisible)]="isVisible" [nzFooter]="null" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <app-withdrall (amount)="getAmount($event)" [balance]="user?.wallet?.balance"></app-withdrall>
  </ng-container>
</nz-modal>
